# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
coverage/
tmp/
temp/

# TypeScript incremental files
*.tsbuildinfo

# npm pack
*.tgz

# Environment variables
.env
.env.*.local

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*.swp

# Misc
*.log.*
